h1{
    text-align: center;
    color: blue;
}

p.player{
    color: red;
    text-align: center;
    border: 1px solid blue;
    width: 100px;
    
}
td {
    border: 1px solid blue;
    height: 50px;
    width: 50px;
    }
    
    
    #circle {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: white;
    }

    table {
        background:orange;
    }

    
    